.change-password {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    
  }
  
  .change-password h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .change-password form div {
    margin-bottom: 15px;
  }
  
  .change-password label {
    display: block;
    margin-bottom: 5px;
  }
  
  .change-password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .change-password button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .change-password button:hover {
    background-color: #45a049;
  }
  
  .change-password p {
    text-align: center;
    color: red;
  }
  