.tableContainer {
  max-height: 250px; /* กำหนดความสูงของตาราง */
  overflow-y: auto; /* เปิดใช้งานการเลื่อนแนวตั้ง */
  scrollbar-width: thin;
  scrollbar-color: #7AC984 #D4ECDC;
  width: 100%;
  margin: auto; /* จัดให้อยู่กึ่งกลาง */
  background-color: #ffffff; /* พื้นหลังสีเขียวใส */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
  font-family: 'Roboto', sans-serif;
}

.table {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7; /* พื้นหลังหัวตารางสีเข้ม */
  color: #000000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; /* ฟอนต์ */
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.header > div {
  flex: 1;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  /* border-right: 1px solid #333; */
}

.header > div:last-child {
  border-right: none;
}

.data {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255); 
  /* border-bottom: 1px solid #333; */
  transition: background-color 0.3s ease;
}

.row:nth-child(even) {
  background-color: #f7f7f7; /* สีสำหรับแถวคู่ */
}

.row:hover {
  background-color: #e0e0e0;
  /* สีเมื่อ hover */
}

.row > div {
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #000000; /* ข้อความสีขาว */
  font-size: 12px;
  word-wrap: break-word;
  
}



.DataAttacker_log {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background: rgba(41, 167, 51, 0.7); /* พื้นหลังปุ่มสีเขียว */
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease; /* เพิ่มความลื่น */
}

.DataAttacker_log:hover {
  background: linear-gradient(45deg, #22aa2e, #96dd4e); /* สีเขียวจางเมื่อ hover */
  color: #0b1f37; /* ข้อความสีเข้ม */
  transition: all 0.3s ease;
}

.DataAttacker_log::after {
  content: '▼';
  font-size: 12px;
  color: #ffffff;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .header, .row {
    flex-direction: column;
  }

  .header > div, .row > div {
    padding: 8px;
    text-align: left;
    font-size: 12px;
  }

  .tableContainer {
    max-height: unset;
  }
}

@media (max-width: 480px) {
  .header > div, .row > div {
    font-size: 10px;
    padding: 5px;
  }

  .DataAttacker_log {
    font-size: 12px;
    padding: 8px;
  }
}
